table {
    width: 100%;
    background-color: aquamarine;
}
.title-login {
    text-align: center; color: rgb(205, 216, 48); 
}
input {
    width: 90%;
}

.container {
    width: 300px;
    border: 2px solid; color: black;
}
button {
    background-color: chartreuse;
}